name: Python Pipeline

on:
  workflow_dispatch: {}

jobs:
  ci:
    runs-on: ubuntu-latest

    env:
      PYTHONPATH: .

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install -r requirements.txt
          python -m pip install flake8 black pytest
        working-directory: python-app-code

      - name: Run flake8 (Linting)
        run: python -m flake8 .
        working-directory: python-app-code

      - name: Run black (Formatting check)
        run: python -m black --check .
        working-directory: python-app-code

      - name: Run tests
        run: python -m pytest -v
        working-directory: python-app-code
